<div class="container">
    <div class="row">
        <div class="content col-md-8">
          <button class="btn btn-default" @click="onSuccess()">Success</button>
          <button class="btn btn-default" @click="onInfo()">Info</button>
          <button class="btn btn-default" @click="onError()">Error</button>
          <button class="btn btn-default" @click="onWarning()">Warning</button>
          <button class="btn btn-default" @click="onSimple()">Simple</button>
          <button class="btn btn-default" @click="onAsyncLoading()">Async</button>
          <button class="btn btn-default" @click="onConfirmation()">Confirmation</button>
          <button class="btn btn-default" @click="onPrompt()">Prompt</button>
          <button class="btn btn-default" @click="onHtml()">Html</button>
          <button class="btn btn-default" @click="onClear()">Clear</button>
        </div>
    </div>
  <vue-snotify></vue-snotify>
</div>
